# Dataset Draft

Dennis Chan 15833526 

Stanley Si Lin Wu 15417190 

Michael Dong 15804232 

Sander Neele 15857719 

Groep nummer: B1 (#1) 

# Titel
Factoren die mensen zijn voorkeur voor films of series beïnvloeden

# Beschrijving

IMDb is de bekendste website voor het beoordelen van films en series en er bestaat duidelijke tegenstellingen tussen films en series. Sommige mensen vinden films beter, terwijl sommige juist series beter vinden. Maar welke factoren bepalen dan deze voorkeuren? In dit project gaan we dus de data analyseren om te bepalen wat precies deze verschillen veroorzaakt. Sommigen vinden series leuker vanwege de grote hoeveelheid detail en zij liever thuis kijken, terwijl anderen films waarderen omdat ze een compleet verhaal in korte tijd vertellen en liever in de bioscoop kijken.

In [2]:
import plotly.graph_objs as go
import plotly.express as px
import pandas as pd

from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)

# Perspectief 1

Movies is een behoefte door hun korte tijdsduur en snelle inspanning en eenmalige beleving. Terwijl series beter zijn omdat ze betere karakterontwikkeling over langere periode. Daarnaast past thuiskijken beter bij moderne levenstijl.

# Perspectief 2

Moderne films en series hebben betere technologieën zoals CGI en de hogere productiebudget, waardoor ze dus visueel er beter uit zien. Aan de andere kant hebben we oude klassieke films die vaak meer echte verhalen hebben zonder te veel computer trucjes. Hierdoor moesten de acteurs juist goed acteren. Daarom kijken mensen deze films nog steeds deze klassiekers.

# Dataset 1: IMDB Top 1000 Movies

In [4]:
data = pd.read_csv('movies.csv')
data.head(n=10)

,id,title,genres,averageRating,numVotes,releaseYear
0,tt0111161,The Shawshank Redemption,Drama,9.3,3057007,1994
1,tt0068646,The Godfather,"Crime, Drama",9.2,2134065,1972
2,tt0252487,The Chaos Class,Comedy,9.2,44602,1975
3,tt33175825,Attack on Titan the Movie: The Last Attack,"Action, Adventure, Animation",9.2,17305,2024
4,tt0259534,Ramayana: The Legend of Prince Rama,"Action, Adventure, Animation",9.1,16474,1993
5,tt0468569,The Dark Knight,"Action, Crime, Drama",9.0,3031913,2008
6,tt0167260,The Lord of the Rings: The Return of the King,"Adventure, Drama, Fantasy",9.0,2085825,2003
7,tt0108052,Schindler's List,"Biography, Drama, History",9.0,1529796,1993
8,tt0071562,The Godfather Part II,"Crime, Drama",9.0,1435894,1974
9,tt0050083,12 Angry Men,"Crime, Drama",9.0,931547,1957

# Dataset 2: IMBD Top 1000 Series

In [5]:
data = pd.read_csv('tvseries.csv')
data.head(n=10)

,id,title,genres,averageRating,numVotes,releaseYear
0,tt0903747,Breaking Bad,"Crime, Drama, Thriller",9.5,2341969,2008
1,tt0185906,Band of Brothers,"Action, Drama, History",9.4,564041,2001
2,tt0795176,Planet Earth,"Documentary, Family",9.4,227819,2006
3,tt5491994,Planet Earth II,Documentary,9.4,166992,2016
4,tt5152226,Tree of Life,Drama,9.4,18826,2014
5,tt7366338,Chernobyl,"Drama, History, Thriller",9.3,954055,2019
6,tt0417299,Avatar: The Last Airbender,"Action, Adventure, Animation",9.3,408049,2005
7,tt0306414,The Wire,"Crime, Drama, Thriller",9.3,404808,2002
8,tt30263074,Sapne Vs Everyone,Drama,9.3,73898,2023
9,tt6769208,Blue Planet II,Documentary,9.3,52095,2017